.card {
    transition: all 0.3s ease;
    border: 1px solid transparent; /* Borde inicial transparente */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra al pasar el mouse */
    border: 2px solid #FF4C60; /* Borde de color al pasar el mouse */
}
/* Estilo inicial del elemento */
.contact-info {
    position: relative;
  }
  
  .contact-info > div.floating-content {
    position: absolute;
    top: 0;
    right: 0;
  }

  .iconB {
    color: #FF4C60;
  }
  
  /* Estilo al pasar el mouse sobre el elemento */
  .iconB:hover {
    cursor: pointer;
    color: black !important; /* Cambia 'blue' por el color que desees */
    /* También puedes aplicar otros estilos además del color */
    /* Por ejemplo: background-color, tamaño de fuente, etc. */
  }





/* Estilo para el campo de selección */
.my-custom-select {
  /* Añade tus estilos personalizados aquí */
}

/* Estilo para el campo de entrada de texto */
.form-control {
  /* Añade tus estilos personalizados aquí */
  border: 1px solid #ced4da; /* Ejemplo de cómo cambiar el borde */
  border-radius: 4px; /* Ejemplo de cómo agregar bordes redondeados */
}

/* Estilo para el campo de entrada de texto en enfoque */
.form-control:focus {
  /* Estilos cuando el campo está enfocado */
  border-color: #80bdff; /* Ejemplo de cómo cambiar el color del borde cuando está enfocado */
  outline: 0; /* Evita el borde de enfoque predeterminado */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Ejemplo de cómo agregar una sombra cuando está enfocado */
}