<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
      
        
        <h2 style="margin-bottom: 40px;" >Agregar Marca
        
        </h2>
        <div style="display: flex; align-items: center;">
          <input type="text" style=" max-width: 50%; height: 50px;" [(ngModel)]="global.newBrand" class="form-control" placeholder="Nombre de la marca">
          <span class="btn btn-default btn-lg" style="margin-left: 10px;" (click)="saveBrand()">Guardar</span>
        </div>
        <div class="col-md-12" style="padding: 5%;">
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  